<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.legend.mapper.IUserMapper">

    <!--resultMap:手动来配置实体属性与表字段的映射关系-->
    <resultMap id="userMap" type="com.legend.pojo.User">
        <id property="id" column="id" />
        <result property="username" column="username" />
        <result property="password" column="password" />

        <!--一对多 集合使用的标签-->
        <collection property="orderList" ofType="com.legend.pojo.Order">
            <id property="id" column="oid" />
            <result property="orderTime" column="orderTime" />
            <result property="total" column="total" />
        </collection>
    </resultMap>

    <!--userCache是用来设置是否禁用二级缓存的   flushCache="true"属性，默认情况下为true,即刷新缓存-->
    <select id="findAll" resultMap="userMap" flushCache="true" useCache="false">
      SELECT u.*,o.id oid,o.ordertime,o.total,o.uid FROM user u LEFT JOIN orders o ON u.id=o.uid
    </select>


    <resultMap id="userRoleMap" type="com.legend.pojo.User">
        <id property="id" column="userid" />
        <result property="username" column="username" />
        <result property="password" column="password" />

        <!--多对多 集合使用的标签-->
        <collection property="roleList" ofType="com.legend.pojo.Role">
            <id property="id" column="roleid" />
            <result property="roleName" column="roleName" />
            <result property="roleDesc" column="roleDesc" />
        </collection>
    </resultMap>

    <select id="findAllUserAndRole" resultMap="userRoleMap">
      SELECT * FROM user u LEFT JOIN sys_user_role ur ON ur.userid=u.id LEFT JOIN sys_role r ON r.id=ur.roleid
    </select>


    <!--<cache></cache>-->
    <!--指定自定义二级缓存类-->
    <cache type="org.mybatis.caches.redis.RedisCache"></cache>
</mapper>