<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.legend.springbootmybatis.dao.CityDao">
	<resultMap id="BaseResultMap" type="com.legend.springbootmybatis.domain.City">
		<result column="id" property="id" />
		<result column="province_id" property="provinceId" />
		<result column="city_name" property="cityName" />
		<result column="description" property="description" />
		<result column="sales_num" property="salesNum" />
		<result column="eva_num" property="evaNum" />
	</resultMap>

	<parameterMap id="City" type="com.legend.springbootmybatis.domain.City"/>

	<sql id="Base_Column_List">
		id, province_id, city_name, description,sales_num,eva_num
	</sql>
	<update id="update" parameterType="com.legend.springbootmybatis.domain.City">
		update city set city_name = #{cityName} where id = #{id}
	</update>

	<!-- 批量更新第一种方法，通过接收传进来的参数list进行循环着组装sql -->
	<update id="batchUpdate1" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="" close="" separator=";">
			update city
			<set>
				<if test="item.cityName != null">
					city_name = #{item.cityName,jdbcType=VARCHAR},
				</if>
				<if test="item.description != null">
					description = #{item.description,jdbcType=VARCHAR},
				</if>
				<if test="item.provinceId != null">
					province_id = #{item.provinceId,jdbcType=BIGINT},
				</if>
			</set>
			where id = #{item.id,jdbcType=BIGINT}
		</foreach>
	</update>

	<!-- 批量更新第二种方法，通过 case when语句变相的进行批量更新 -->
	<update id="batchUpdate2" parameterType="java.util.List">
		update city
		<trim prefix="set" suffixOverrides=",">
			<trim prefix="id =case" suffix="end,">
				<foreach collection="list" item="item" index="index">
					<if test="item.id!=null">
						when id=#{id.id} then #{item.id}
					</if>
				</foreach>
			</trim>
			<trim prefix="standard_to_uuid =case" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.standardToUuid!=null">
						when id=#{i.id} then #{i.standardToUuid}
					</if>
				</foreach>
			</trim>
			<trim prefix="gmt_modified =case" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.gmtModified!=null">
						when id=#{i.id} then #{i.gmtModified}
					</if>
				</foreach>
			</trim>
		</trim>
		where
		<foreach collection="list" separator="or" item="i" index="index">
			id=#{i.id}
		</foreach>
	</update>

	<insert id="batchUpdate3" parameterType="java.util.List">
		INSERT INTO city ( id, province_id, city_name, description )
		VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			(
				#{item.provinceId},
				#{item.cityName},
				#{item.description}
			)
		</foreach>
		ON DUPLICATE KEY UPDATE
		id=VALUES(id),
		province_id = VALUES(province_id),
		city_name = VALUES(city_name),
		description = VALUES(description)
	</insert>

	<update id="update2">
		<!--<selectKey resultType="java.lang.Integer" keyProperty="stock" order="AFTER">
			select * FROM city WHERE id &lt; #{id}
		</selectKey>-->
		update city set eva_num = eva_num + 1, city_name = #{cityName}, province_id = #{provinceId} where id <![CDATA[<=]]> #{id}
	</update>

    <select id="findByName" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from city
		where city_name = #{cityName}
	</select>

	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from city
		where id = #{id}
	</select>
    <select id="findSomeCity" resultType="com.legend.springbootmybatis.domain.City">
		select
		<include refid="Base_Column_List" />
		from city
		where id = 1
		<if test="flag != null and flag == true" >
			union all
			select
			<include refid="Base_Column_List" />
			from city
			where 1 = 1
			<if test="idList != null and idList.size > 0">
				and id in
				<foreach collection="idList" item="id" open="(" close=")" separator=",">
					#{id}
				</foreach>
			</if>
		</if>

	</select>

    <!--保存或者更新-->
	<!--<insert id="saveOrUpdate" parameterType="TestVo">
 		insert into table_name ( col1, col2, col3 ) values ( #{field1}, #{field2}, #{field3} ) on duplicate key update col1 = #{field1}, col2 = #{field2}, col3 = #{field3}
 	</insert>-->

	<!-- 批量保存 -->
	<!--<insert id="batchSaveOrUpdate" parameterType="java.util.List">-->
	<!--insert into table_name ( col1, col2, col3 )-->
	<!--<foreach collection="list" item="item" index="index" separator=",">-->
	<!--values ( #{item.field1}, #{item.field2}, #{item.field3} )-->
	<!--</foreach>-->
	<!--on duplicate key update col1 = VALUES (col1), col2 = VALUES (col2), col3 = VALUES (col3)-->
	<!--</insert>-->

	<insert id="saveOrUpdate" parameterType="com.legend.springbootmybatis.domain.City">
 		insert into city ( id, province_id, city_name, description )
 		values ( #{id}, #{provinceId}, #{cityName},#{description} )
 		on duplicate key update city_name = #{cityName},description = #{description},sales_num=#{salesNum},eva_num=#{evaNum}
 	</insert>

	<insert id="batchSaveOrUpdate" parameterType="java.util.List">
		insert into city ( id, province_id, city_name, description )
		<foreach collection="list" item="item" index="index" separator=",">
			values ( #{item.id}, #{item.provinceId}, #{item.cityName}, #{item.description})
		</foreach>
		on duplicate key update city_name = VALUES (city_name), description = VALUES (description)
	</insert>

	<insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true"
			keyProperty="id">

		INSERT INTO `mybatis`.`city`(`province_id`, `city_name`, `description`)
		VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			(
			#{item.provinceId},
			#{item.cityName},
			#{item.description}
	  		)
		</foreach>
	</insert>
</mapper>
