<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.legend.springbootmybatis.dao.CityDao">
	<resultMap id="BaseResultMap" type="com.legend.springbootmybatis.domain.City">
		<result column="id" property="id" />
		<result column="province_id" property="provinceId" />
		<result column="city_name" property="cityName" />
		<result column="description" property="description" />
	</resultMap>

	<parameterMap id="City" type="com.legend.springbootmybatis.domain.City"/>

	<sql id="Base_Column_List">
		id, province_id, city_name, description
	</sql>

	<select id="findByName" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from city
		where city_name = #{cityName}
	</select>

	<!--保存或者更新-->
	<!--<insert id="saveOrUpdate" parameterType="TestVo">
 		insert into table_name ( col1, col2, col3 ) values ( #{field1}, #{field2}, #{field3} ) on duplicate key update col1 = #{field1}, col2 = #{field2}, col3 = #{field3}
 	</insert>-->

	<!-- 批量保存 -->
	<!--<insert id="batchSaveOrUpdate" parameterType="java.util.List">-->
	<!--insert into table_name ( col1, col2, col3 )-->
	<!--<foreach collection="list" item="item" index="index" separator=",">-->
	<!--values ( #{item.field1}, #{item.field2}, #{item.field3} )-->
	<!--</foreach>-->
	<!--on duplicate key update col1 = VALUES (col1), col2 = VALUES (col2), col3 = VALUES (col3)-->
	<!--</insert>-->

	<insert id="saveOrUpdate" parameterType="com.legend.springbootmybatis.domain.City">
 		insert into city ( id, province_id, city_name, description )
 		values ( #{id}, #{provinceId}, #{cityName},#{description} )
 		on duplicate key update city_name = #{cityName},description = #{description}
 	</insert>

	<insert id="batchSaveOrUpdate" parameterType="java.util.List">
		insert into city ( id, province_id, city_name, description )
		<foreach collection="list" item="item" index="index" separator=",">
			values ( #{item.id}, #{item.provinceId}, #{item.cityName}, #{item.description})
		</foreach>
		on duplicate key update city_name = VALUES (city_name), description = VALUES (description)
	</insert>

</mapper>
