<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcl.shardingjdbc.mapper.BookMapper">
    <resultMap id="BaseResultMap" type="com.qcl.shardingjdbc.entity.Book">
        <id column='id' property='id' jdbcType='DECIMAL'/>
        <result column='name' property='name' jdbcType='VARCHAR'/>
        <result column='count' property='count' jdbcType='VARCHAR'/>
    </resultMap>
</mapper>
